<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    FILMOTEKA is a subscription-based streaming service that allows our members to watch TV shows and movies without commercials on an internet-connected device.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Audio and Subtitles</a></li>
                    <li><a href="">Media Center</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Cookie Preferences</a></li>
                    <li><a href="">Legal Notices</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>FILMOTEKA</li>
                    <li><i class="fa fa-envelope mr-2"></i> support@filmoteka.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 389 72 123 456</li>
                    <li><i class="fa fa-print mr-2"></i> + 389 72 123 456</li>
                </ul>
            </div>
        </div>
    </div>
</footer>