<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-image: linear-gradient(180deg,rgba(0,0,0, 0.9) 10%, rgba(10,10,10, 0.8));">
        <div class="container">
            <a class="navbar-brand font-weight-bold" style="color: #e50914" href="/">FILMOTEKA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/movies">Movies</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                            <i class="fa fa-shopping-cart"></i> Watch list
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/logout">
                            <i class="fa fa-shopping-cart"></i> Logout
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i class="fa fa-shopping-cart"></i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>